<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmelden | Notizen</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="flex-center">

    <div class="login-container">
        <h1>Anmelden</h1>
        <form method="post">
            <input type="text" name="user" class="text-input" placeholder="Benutzer">
            <input type="password" name="password" class="text-input" placeholder="Passwort">
            <input type="submit" value="Anmelden" name="login" class="submit-btn">
        </form>
    </div>
    
</body>
</html>